<%- include('layout') %>

<div class="container text-center mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Para aprender na prática</h3>
      <div class="text-left mt-4">
        <p><code>if (voce) {</code></p>
        <p><code>&emsp;let quer;</code></p>
        <p><code>&emsp;if (quer == "aprender") {</code></p>
        <p><code>&emsp;&emsp;continue;</code></p>
        <p><code>}</code></p>
      </div>
    </div>
  </div>

  <div class="mt-5 text-center">
    <button class="btn btn-secondary" onclick="window.location.href='/listar'">
      Listar Cursos
    </button>
    <button
      class="btn btn-secondary"
      onclick="window.location.href='/novo-curso'"
    >
      Criar Novo Curso
    </button>
  </div>
</div>
