<div class="jumbotron text-center">
    <h1>Bem-vindo, Professor!</h1>
    <p>Gerenciamento de cursos, aulas e alunos</p>
    <a href="/cursos" class="btn btn-primary btn-lg">Gerenciar Cursos</a>
</div>