<div class="jumbotron text-center shadow-sm bg-white">
    <h1>Bem-vindo(a), <%= user.nome %>!</h1>
    <p class="lead">Seu painel de gerenciamento de cursos.</p>
    <hr class="my-4">
    <p>Use o menu acima ou o botão abaixo para gerenciar seus cursos e conteúdos.</p>
    <a href="/cursos" class="btn btn-primary btn-lg">Gerenciar Cursos</a>
</div>